body {
    background-color: #f3efe6;
    color: black;
        
}


.logo {
    
    display: block;
    max-width: 100%;
    height:auto;
    
    
}

.logo img {
    vertical-align: middle;
    padding: 15px;
}


/* Navbar Styling */

.main-nav {
    background-color: #5e2d53;
    color: #f3efe6;
    font-family: Papyrus, Arial;
    font-size: 1.15em;
    letter-spacing: 1px;
    padding: 15px;
    /* font-weight: bold;  */
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    
    
  
    
}

#navbarNav .nav-link {
  color: #f3efe6;
}

#navbarNav a:hover,
#navbarNav a:focus {
  /* color: black; */
  background-color: #814574; /*Change rollover cell color here*/
}





 .nav-item .nav-link > a, li {
    color: black; 
    margin-left: 50px;
    margin-right: 50px;
      
}

.nav-item .nav-link {
  padding-left: 25px;
  padding-right: 25px;
  color: #f3efe6;

}


/* Content Styling */

.style {
  font-family: Papyrus;
  padding: 25px;
  font-weight: bold;
  letter-spacing: 1px;

}

h1, h2, h3, h4 {
    font-family: Papyrus, Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    padding: 25px;
    font-weight: bold;
}

.col {
    padding: 30px;

}

.col img {

    padding-bottom: 20px;
}

.subhead {
  padding-top: 50px;
  text-align: center;
}


  /* Footer Styling */

  .footer {
    background-color: #5e2d53;
    color: #fff;
    font-family: Papyrus, Arial;
    font-size: 1.15em;
    letter-spacing: 1px;
    padding-top: 20px;
    padding-bottom: 20px;
    /* padding: 20px; */
    /* font-weight: bold;  */
    text-align: center;  
    width: 100%;
  }
 

  .icon {
    padding: 10px;
  }

  

  /* Media Queries */


@media screen and (max-width:1024px){
  .logo img{width: 300px;}
}


.logo img{height: auto;}


